body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn-red {
  display: inline-block;
  font: 400 14px/18px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
  border-radius: 2px;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #ca2c37;
}

.btn-red:active {
  background-color: #ba2732;
}

/* HEADER */

.header-top_wrap {
  width: 100%;
  background-color: #293449;
}

.main-header {
  padding-bottom: 60px;
  background-color: #f3f7f8;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
}

.logo-top {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 10px 0 8px;
  background-color: #ee3643;
  border-radius: 0;
  box-shadow: 0 5px 0 0 #b52933
}

.logo-top:hover,
.logo-top:focus {
    box-shadow: 0 5px 0 0 #9a212a;
}

.logo-top:active {
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo-index:hover,
.logo-index:focus,
.logo-index:active {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.form-search {
  flex-grow: 1;
}

.form-search-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 47px;

  font: 17px/18px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  vertical-align: middle;

  border: 0;
  background: transparent url("../img/svg/icon-search.svg") 17px 50% no-repeat;
}

.form-search-input::placeholder {
  color: #ffffff;

  opacity: 1;
}

.form-search-input:hover {
  background-color: #212a3a;
  background-image: url("../img/svg/icon-search-hover.svg");
}

.form-search-input:focus,
.form-search-input:active {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/svg/icon-search-focus.svg");
  outline: 0;
}

.tabs-list {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.tabs-list-link {
  position: relative;
  color: #ffffff;
}

.tabs-list-icon {
  display: block;
  padding: 12px 28px 14px 46px;
}

.cart {
  min-width: 75px;
}

.bookmarks::before,
.cart::before {
  content: "";

  position: absolute;
  left: 16px;
  top: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/svg/icon-bookmark.svg");
  opacity: 0.3;
}

.cart::before {
  width: 15px;
  height: 15px;

  background-image: url("../img/svg/icon-cart.svg");
}

.tabs-list-link:hover,
.tabs-list-link:focus {
  background-color: #212a3a;
}

.tabs-list-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart-active,
.cart-active:hover,
.cart-active:focus,
.cart-active:active {
  background-color: #ee3643;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.order {
  display: block;
  padding: 13px 21px;
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.navigation-item,
.navigation-item-active {
  display: block;
  padding: 20px 30px 23px;
  color: #ffffff;
  text-align: center;
}

.navigation-item:hover,
.navigation-item:focus {
  background-color: #293449;
}

.navigation-item:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.navigation-item-active:hover,
.navigation-item-active:focus,
.navigation-item-active:active {
  background-color: #32425c;
}

.header-center {
  display: flex;
  margin-top: 45px;
}

.main-heading {
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;

  width: 220px;
  margin: 0;
  margin-bottom: 40px;
  padding: 4px 48px 0 52px;
}

.contacts-address {
  margin: 0;
  padding: 3px 0 0 10px;

}

.main-header-contacts {
  width: 270px;
  margin: 0 auto 0 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.contacts-phone {
  position: relative;

  display: block;
  margin: 0;
  padding: 11px 50px 9px 0;

  font-size: 21px;
  line-height: 21px;
  text-align: right;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.contacts-phone::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 19px;
  height: 19px;

  background: url("../img/svg/icon-phone.svg") 0 0 no-repeat;
}

.user-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.login-link {
  display: block;
  padding: 12px 25px 12px 25px;
  margin-left: 10px;
  font: 21px/21px "Cuprum", "Tahoma", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.login-link-enter {
  position: relative;

  padding-left: 45px;
}

.login-link-enter::before {
  content: "";

  position: absolute;
  left: 13px;
  top: 13px;

  width: 20px;
  height: 18px;

  background: url("../img/svg/icon-login.svg") 0 0 no-repeat;
}

.login-link:hover,
.login-link:focus {
  color: #ee3643;
}

.login-link-enter:hover::before,
.login-link-enter:focus::before {
  background-image: url("../img/svg/icon-login-hover.svg");
}

.login-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-link:active::before {
  background-image: url("../img/svg/icon-login.svg");
}

.account {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  position: relative;
}

.user-navigation-login,
.profile-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-login {
  margin-bottom: -33px;
}

.user {
  position: relative;

  display: block;
  padding: 12px 67px 12px 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user::before {
  content: "";

  position: absolute;
  left: 13px;
  top: 13px;

  width: 20px;
  height: 18px;

  background: url("../img/svg/icon-user.svg") 0 0 no-repeat;
}

.user-quit {
  position: absolute;

  width: 31px;
  height: 30px;
  top: 14px;
  right: 0;
  background: url("../img/svg/icon-logout.svg") 0 0 no-repeat;
}

.user:active {
  color: rgba(0, 0, 0, 0.3);
}

.user:hover::before,
.user:focus::before {
  background-image: url("../img/svg/icon-user-hover.svg");
}

.user:active::before {
  background-image: url("../img/svg/icon-user.svg");
}

.user-quit:hover,
.user-quit:focus {
  background-image: url("../img/svg/icon-logout-hover.svg");
}

.user-quit:active {
  background-image: url("../img/svg/icon-logout.svg");
}

.profile-navigation {
  display: flex;
}

.user-account {
  margin-left: 19px;
  font: 16px/18px "Cuprum", "Tahoma", sans-serif;
  color: #32425c;
  text-decoration: underline;
}

.user-account:hover,
.user-account:focus {
  color: #ee3643;
}

.user-account:active {
  color: rgba(50, 66, 92, 0.3);
}

.profile-navigation li:last-child {
  position: relative;
  margin-left: 13px;
}

.profile-navigation li:last-child::before {
  content: "";

  position: absolute;
  left: 1px;
  top: 7px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

/* FOOTER */

.main-footer {
  background-color: #32425c;
  margin-top: 85px;
}

.bottom-wrap {
  padding-bottom: 30px;

  background-color: #293449;
}

.logo-bottom {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  margin-right: 100px;
  padding: 18px 0 15px;
  background-color: #ee3643;
  border-radius: 0;
  box-shadow: 0 5px 0 0 #b52933
}

.footer-navigation,
.catalog-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-navigation {
  margin-top: 16px;
  margin-left: 23px;
}

.main-footer .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts {
  font: normal 18px/24px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;

  margin-top: 33px;
  margin-bottom: 50px;
  padding-left: 3px;
}

.bottom-navigation {
  margin-top: 20px;
  margin-left: auto;
}

.footer-nav-link {
  font: 18px/24px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
}

.catalog-nav-link {
  font: 18px/24px "Cuprum", "Tahoma", sans-serif;
  color: #ffd180;
}

.footer-navigation li,
.catalog-navigation li {
  padding: 18px 0 0;
}

.footer-navigation li:not(:first-child),
.catalog-navigation li:not(:first-child) {
  padding-left: 59px;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.catalog-nav-link:hover,
.catalog-nav-link:focus {
  text-decoration: underline;
}

.footer-nav-link:active,
.catalog-nav-link:active {
  text-decoration: none;

  opacity: 0.5;
}

.footer-nav-link:not([href]):hover,
.footer-nav-link:not([href]):focus,
.footer-nav-link:not([href]):active {
  text-decoration: none;
  opacity: 1;
}

.copyright,
.feedback,
.developed {
  margin: 0;
  padding: 0;

  font: 16px/18px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
}

.copyright {
  margin-top: 37px;
  margin-right: 167px;
}

.footer-bottom-right {
  display: flex;
  margin-left: auto;
  margin-top: 38px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 130px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-top: 35px;

  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback a,
.footer-develop a {
  color: #ffd180;
}

.footer-develop {
  margin-right: 8px;
  margin-left: 43px;
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-develop a:hover,
.footer-develop a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-develop a:active {
  color: #ee3643;
  text-decoration: none;
}

/* FEATURES */

.features {
  margin-top: 60px;
  margin-bottom: 53px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 256px;
  height: 100px;
  padding: 20px 22px 2px 22px;
}

.feature-item:not(:nth-child(-n+3)) {
  margin-top: 20px;
}

.feature-item:last-child {
  margin-top: -122px;
  margin-left: auto;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  margin: 0;
  padding: 0;
}

.feature-btn {
  display: inline-block;
  width: 135px;
  margin-top: 13px;
  margin-left: 3px;
  padding: 11px 0 9px 0;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.feature-btn:hover,
.feature-btn:focus {
  background-color: rgba(0, 0, 0, 0.2)
}

.feature-btn:active {
  background-color: rgba(0, 0, 0, 0.3)
}

.feature-materials {
  background: #ffbf47 url("../img/svg/icon-1.svg") 213px 50% no-repeat;
}

.feature-tools {
  background: #3bbce3 url("../img/svg/icon-2.svg") 197px 50% no-repeat;
}

.feature-technics {
  background: #dc91d8 url("../img/svg/icon-3.svg") 191px 50% no-repeat;
}

.feature-sale {
  background: #8ed78f url("../img/svg/icon-4.svg") 196px 50% no-repeat;
}

.feature-shipping {
  background: #ffc047 url("../img/svg/icon-5.svg") 191px 50% no-repeat;
}

/* SLIDER */

.feature-slider {
  position: relative;

  width: 620px;
  height: 266px;
  padding: 0;

  background-color: #b7babb;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.feature-slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 25px;
  padding-left: 24px;
}

.feature-slide p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  margin: 0;
  margin-left: 25px;
}

.btn-slide {
  position: absolute;
  bottom: 20px;
  left: 24px;

  padding: 12px 49px 10px 49px;
  border-radius: 2px;
}

.slider-controls {
  position: absolute;

  left: 295px;
  bottom: 36px;

  display: flex;
  justify-content: space-between;

  width: 30px;
  height: 10px;
}

.slider-controls-item {
  width: 10px;

  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-arrow {
  position: absolute;
  left: 0;
  top: 105px;
  bottom: 80px;
  z-index: 10;

  width: 72px;

  cursor: pointer;
}

.slider-controls-prev {
  left: auto;
  right: 0;
}

.slider-controls-next::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 30px;

  width: 29px;
  height: 29px;

  border: 3px solid #ffffff;
  border-top: 0;
  border-right: 0;

  transform: rotate(45deg);
}

.slider-controls-prev::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 15px;

  width: 29px;
  height: 29px;

  border: 3px solid #ffffff;
  border-top: 0;
  border-right: 0;

  transform: rotate(225deg);
}

.feature-slide {
  width: 620px;
  height: 266px;
  display: none;
}

.feature-slide:nth-child(1) {
  background: url("../img/slide-1.jpg") 0 0 no-repeat;
}

.feature-slide:nth-child(2) {
  background: url("../img/slide-2.jpg") 0 0 no-repeat;
}

#slide-prev:checked ~ .slider-controls-prev,
#slide-next:checked ~ .slider-controls-next {
  cursor: auto;
}

#slide-prev:checked ~ .slider-controls-prev::before,
#slide-next:checked ~ .slider-controls-next::before {
  border: none;
}

#slide-prev:checked ~ .slider-controls label:nth-child(2),
#slide-next:checked ~ .slider-controls label:nth-child(1) {
  background-color: #ee3643;
}

#slide-prev:checked ~ .slider-list .feature-slide:nth-child(1),
#slide-next:checked ~ .slider-list .feature-slide:nth-child(2) {
  display: block;
}

/* END SLIDER */

.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: #f9f5f0;
}

.section-header h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  margin: 31px 0 30px 27px;
}

.goods-btn {
  width: 253px;
  margin-right: 25px;
  padding: 11px 0 10px 0;
}

/* BRANDS */

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-item {
  width: 218px;
  height: 143px;
  margin-top: 20px;

  text-align: center;

  border: 1px solid #eaeaea;
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active img {
  opacity: 0.3;
}

.brand-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* SERVICES */

.services-wrap {
  margin-top: 85px;
  padding: 65px 0 25px 0;
  background-color: #f4f8fa;
}

.services-slider {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
  padding: 0;
}

.services-slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;

  margin: 0;
  padding: 0;
}

.services p {
  font: 13px/24px "PT Sans", "Calibri", sans-serif;
  color: #000000;

  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.services-slide p {
  min-width: 300px;
  margin: 21px 0 0;
  padding: 0;
}

.services-label {
  display: block;
  width: 200px;
  padding: 14px 18px 15px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;

  cursor: pointer;
}

.slider-wrap {
  display: flex;
  margin: 70px 0 0 0;
}

.services-controls {
  position: relative;
  width: 240px;
}

.services-controls::after {
  content: "";

  position: absolute;
  top: -40px;
  left: 230px;

  width: 10px;
  height: 279px;

  background: url("../img/services-shadow.png") 0 0 no-repeat;
}

.services-slide {
  display: none;
  width: 700px;
  min-height: 260px;
  padding-left: 80px;
}

.services-btn {
  width: 195px;
  margin-top: 30px;
  padding: 10px 0;
}

.services-label:hover,
.services-label:focus {
  background-color: #293449;
}

.services-slide:nth-child(1) {
  background: url("../img/services-slide-1.png") 231px 23px no-repeat;
}

.services-slide:nth-child(2) {
  background: url("../img/services-slide-2.png") 310px 0 no-repeat;
}

.services-slide:nth-child(3) {
  background: url("../img/services-slide-3.png") 235px 0 no-repeat;
}

#delivery:checked ~ .services-controls label:nth-child(1),
#guarantee:checked ~ .services-controls label:nth-child(2),
#credit:checked ~ .services-controls label:nth-child(3) {
  color: #32425c;
  background-color: #ffffff;
  border-color: #ffffff;

  cursor: auto;
}

#delivery:checked ~ .services-slider .services-slide:nth-child(1),
#guarantee:checked ~ .services-slider .services-slide:nth-child(2),
#credit:checked ~ .services-slider .services-slide:nth-child(3) {
  display: block;
}

/* ABOUT US */

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 78px;
}

.about-us-info {
  width: 540px;
}

.about-us-contacts {
  width: 300px;
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
  padding: 0;
}

.about-us p {
  font: 13px/24px "PT Sans", "Calibri", sans-serif;
  color: #000000;

  margin: 0;
  padding: 0;
}

.about-us-info p,
.about-us-contacts p {
  margin-top: 25px;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-list li{
  position: relative;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-top: 20px;
  padding-left: 36px;
}

.partners-list li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.info-btn {
  width: 220px;
  margin-top: 38px;
  padding: 10px 0 10px 0;
}

.about-us-contacts img {
  margin-top: 32px;
}

.write-us-btn {
  width: 300px;
  margin-top: 38px;
  padding: 10px 0 10px 0;
}


/* CATALOG */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs li:first-child {
  display: block;
  padding-top: 2px;
  margin-left: -2px;
  margin-right: 40px;
}

.breadcrumbs li:nth-child(3) {
  margin-left: 42px;
  margin-right: 42px;
}

.breadcrumbs li {
  position: relative;
  margin-top: 21px;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 3px;
  left: -25px;

  width: 8px;
  height: 12px;

  background-image: url("../img/svg/icon-right-small.svg");
}

.catalog-title {
  font: 30px/30px "Cuprum", "Tahoma", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  padding: 29px 20px 30px 28px;

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filter h2 {
  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  padding: 10px 20px;
  border-radius: 2px; 

  background-color: #f7f3ec;
}

.filter-price,
.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 17px;
}

.filter-price,
.filter-group {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-group:last-of-type {
  border-bottom: 0;
}

.filter-price legend {
  font: bold 17px/30px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.filter-range {
  width: 220px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-top: 14px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls input {
  width: 95px;
  padding: 10px 0;

  font: 17px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-align: center;

  border: none;
  border-radius: 2px;
  background: #f7f3ec;
}

.min-price {
  margin-right: 25px;
}

.price-controls {
  position: relative;
}

.price-controls::after {
  content: "";
  height: 1.5px;
  width: 14px;
  margin: -1px 0 0 -8px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
}

.filter-group legend {
  font: bold 17px/30px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-group li {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-group li:last-child {
  margin-bottom: -2px;
}

.filter-group label {
  font: 15px/20px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -34px;

  width: 25px;
  height: 25px;

  background: url("../img/svg/checkbox-off.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  background: url("../img/svg/checkbox-on.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}


.filter-input-radio + label:hover::before {
  opacity: 1;;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -34px;

  width: 25px;
  height: 25px;

  background: url("../img/svg/radio-off.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  background: url("../img/svg/radio-on.svg") 0 0 no-repeat;
  opacity: 0.4;
}

.filter-input-radio + label:hover::before {
  opacity: 1;;
}

.filter-send {
  display: block;
  margin: 55px 0 0;
  padding: 9px 38px;

  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: transparent;

  cursor: pointer;
}

.filter-send:hover,
.filter-send:focus {
  border-color: #bdc6ca;
}

.products {
  width: 700px;
}

.sorting {
  display: flex;
  padding: 10px 10px 10px 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #f7f3ec;
}

.sorting h2 {
  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.sorting ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-parameters,
.sort-order {
  display: flex;
}

.sort-item a {
  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-item:last-child {
  margin-left: 65px;
  margin-right: 45px;
}

.sort-item .current-link {
  color: #ee3643;
  border-bottom: 0;
  margin-right: 70px;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-parameters:last-child a {
  margin-left: 30px;
}

.sort-order-current {
  margin-right: 21px;
}

.sort-order-up path {
  fill: #ee3643;
}

.sort-order-down path {
  fill-opacity: 0.3;
}

.sort-order-item:hover path,
.sort-order-item:focus path {
  fill: #000000;
  fill-opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.catalog-list-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;

  width: 218px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
}

.catalog-item h3 {
  font: bold 18px/20px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  margin: 8px 0 12px 0;
  padding: 0 25px;
}

.catalog-list .catalog-item:nth-child(3n) h3 {
  margin-bottom: 40px;
}

.catalog-list-index .catalog-item:nth-child(4) h3 {
  margin-bottom: 40px;
}

.catalog-item img {
  max-width: 100%;
  
  margin-top: 7px;
}

.catalog-item .old-price {
  font: bold 17px/18px "PT Sans", "Calibri", sans-serif;
  color: #999999;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
}

.catalog-item .price {
  position: relative;

  font: bold 17px/18px "PT Sans", "Calibri", sans-serif;
  color: #ffffff;

  display: block;
  width: 120px;
  margin: 10px auto 20px auto;
  padding: 10px 10px;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .buy,
.catalog-item .bookmark {
  display: block;
  width: 130px;
  margin: 0 auto 8px auto;
  padding: 8px 0;
}

.catalog-item .buy {
  position: relative;

  font: 14px/18px "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  border: 2px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 2px;
}

.catalog-item .buy::before {
  content: "";

  position: absolute;
  left: 13px;
  top: 9px;

  width: 15px;
  height: 15px;

  background: url("../img/svg/icon-cart.svg") 0 0 no-repeat;
  opacity: 0.3;
}

.catalog-item .buy:hover::before,
.catalog-item .buy:focus::before,
.catalog-item .buy:active::before {
  opacity: 1;
}

.catalog-item .bookmark {
  font: 14px/18px "Cuprum", "Tahoma", sans-serif;
  color: #32425c;
  text-transform: uppercase;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.catalog-item .buy:hover,
.catalog-item .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.catalog-item .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item .bookmark:hover,
.catalog-item .bookmark:focus {
  border-color: #32425c;
}

.catalog-item .bookmark:active {
  opacity: 0.3;
}

.catalog-item .price:after{
  content:"";
  position:absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions {
  height: 127px;
  margin-top: 43px;
}

.catalog-item .actions,
.catalog-item:hover img {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
  order: -1;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.flag-new {
  position: relative;
}

.flag-new::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  color: #000000;
  text-transform: uppercase;

  display: block;
  padding: 9px 15px 10px 15px;
  margin-right: 10px;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-next {
  padding: 10px 30px;
}

.pagination-item:hover,
.pagination-item:focus {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.catalog .main-footer {
  margin-top: 0;
}

.about-wrap {
  background-color: #f2f6f8;
}

.about-perforators {
  margin-top: 60px;
}

.about-perforators h2,
.about-perforators p {
  margin: 0;
  padding: 0;
}

.about-perforators h2 {
  font: 400 30px/30px "Cuprum", "Tahoma", sans-serif;
  color: #000000;
  text-transform: uppercase;

  padding-top: 64px;
  padding-bottom: 26px;
}

.about-perforators p {
  font: normal 400 13px/24px "PT Sans", "Calibri", sans-serif;
  color: #000000;

  padding-bottom: 70px;
}

/* POPUP */

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;

  display: none;
  width: 620px;
  padding: 45px 0 0;

  background: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.popup-show {
  display: block;

  animation-name: appearance;
  animation-duration: 0.8s;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 21px;
  height: 21px;

  cursor: pointer;
  border: 0;
  background: transparent;
}

.popup-close::before,
.popup-close::after {
  content: "";

  position: absolute;
  left: -3px;
  top: 8px;

  width: 27px;
  height: 5px;

  background-color: #ee3643;

  transform: rotate(45deg);
}

.popup-close::after {
  transform: rotate(-45deg);
}

/* ITEM IN CART */

.item-in-cart {
  margin-top: -150px;
  margin-left: -310px;
}

.item-in-cart p {
  position: relative;

  margin: 20px 80px 70px;
  padding-left: 97px;

  font: 30px/30px "Cuprum", "Tahoma", sans-serif;
  color: #000000;
}

.item-in-cart p::before {
  content: "";

  position: absolute;
  left: 0;
  top: -50%;

  width: 66px;
  height: 66px;

  background: url("../img/svg/icon-mark.svg") 0 0 no-repeat;
}

.issue-order {
  padding: 10px 53px;
}

.popup-cont {
  display: inline-block;
  font: 400 14px/18px "Cuprum", "Tahoma", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  padding: 10px 53px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

/* MAP */

.popup-map {
  width: 940px;
  height: 446px;
  padding: 0;
  margin-top: -270px;
  margin-left: -470px;

  border-top: none;
  box-shadow: 0 0 16px 8px rgba(47, 42, 43, 0.5);
}

.map-iframe {
  position: absolute;
  top: 0;
  left: 0;

  border: 0;
}

/* WRITE US */

@keyframes appearance {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


.popup-write-us {
  padding-top: 25px;
  margin-top: -220px;
  margin-left: -310px;
}

.popup label {
  margin-bottom: 18px;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.fields-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding: 20px 80px;
}

.write-form .username,
.write-form .email {
  width: 220px;
}

.write-form input[type="text"],
.write-form textarea {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 9px;

  font: 13px/18px "PT Sans", "Calibri", sans-serif;
  
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.write-form input[type="text"] {
  width: 100%;
}

.write-form input::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.write-form input:hover,
.write-form textarea:hover {
  border-color: #b5b5b5;
}

.write-form input:focus,
.write-form textarea:focus {
  border-color: #ee3643;
}

.write-form textarea {
  width: 460px;
  height: 114px;
  resize: none;
}

.popup-footer {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.btn-send {
  width: 460px;
  padding: 10px 0;
  border: 0;
}

.popup-show {
  display: block;
  animation: appearance 0.4s;
}

.popup-error {
  animation: error 0.5s;
}